<div id="layout-header">
  <a class="a-target-blank" href=http://aysoarea5b.clubspaces.com/PageCustom.aspx?id=17&o=119010" target="_blank">
    <img class="logo1" src="{{ asset('bundles/ceradapp/images/' ~ 'Area5BGames2013Logo.jpg') }}" height="100" width="100" alt="Area5BGames Site"/>
  </a>
  <a class="a-target-blank" href="http://www.soccer.org" target="_blank">
    <img class="logo2" src="{{ asset('bundles/ceradapp/images/AysoLogo.jpg') }}" height="100" width="100" alt="AYSO Site"/>
  </a>
  <div class="inner-block">
    <p style="text-align: center;">
      <span style="color: blue;">Area 5B Games 2013, May 17-19, Referee Scheduling Site</span>
    </p>
    <p style="margin-top: 2px; color: black; ">
      <span style="color: blue;">Zayso User: </span>
      <span style="color: greenx;">       
        {% if     is_granted('ROLE_USER') %}{{ app.user.name }}{% endif %}
        {% if not is_granted('ROLE_USER') %}Guest{% endif %}          
      </span>
    </p>
  </div>
</div>
