parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~

    database_name:          a5bgames
    database_name_projects: a5bgames
    database_name_persons:  a5bgames
    database_name_games:    a5bgames
    database_name_users:    a5bgames

    database_user:     root
    database_password: ~
    database_dsn:      ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~
    mailer_disable_delivery: false
    mailer_delivery_address: debug@example.com

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    cerad_user_master_password: something

